h1 {
    margin-top: 7%;
    margin-bottom: 0%;
    font-family: 'Yusei Magic';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

.artCircles {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    position: relative;
    top: -85px;
    z-index: 40;
}

.arrow {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

#rArrow {
    position: relative;
    right: -245px;
    top: 220px;
    z-index: 50;
}

#lArrow {
    position: relative;
    left: -245px;
    top: 220px;
    z-index: 50;
}

.artWorks {
    text-align: center;
    position: relative;
    top: -822px;
    z-index: 45;
}

.imgText {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.25px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

div.artText {
    width: 350px;
    position: relative;
    top: -145px;
    left: 50%;
    transform: translateX(-50%);
}

.show {
    display: inline;
}