.flexContainer {
    display: flex;
    position: absolute;
    left: 3.4%;
    right: 4.17%;
    top:27%;
    bottom: 22.36%;
    height: max-content;
    padding-bottom: 150px;
}

.flexChildren {
    width: 33%;
    height: auto;
    padding: 0px;
    margin: 20px;
    text-align: center;
    border: solid 3px #ffcbf0;
    background-color: #142F46;
}

.flexChildren:hover {
transform: scale(1.05);
border: 7px solid #FFCBF0;
}

h1 {

    margin-top: 7%;
    margin-bottom: 3%;
    font-family: 'Yusei Magic';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 93px;
    text-align: center;
    color: #FFFFFF;
}

.myWorkImg {
    width: 100%;
}

h2 {
    font-family: 'Yusei Magic';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.15px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #FFFFFF;
}

h3 {
    font-family: 'Yusei Magic';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.15px;
    margin: 2px 2px;
    color: #FFCBF0;
}

p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    letter-spacing: 0.25px;

    color: #FFFBFB;
}

#footerSpace {
    margin:100px;
}
@media only screen and (max-width: 800px) {
    .flexContainer {
        flex-direction: column;
    }
  
    .flexChildren {
        width: auto;
    }

  }
